<div class="visiting-info">
  <h3>VISITING PLACES</h3>
</div>
<div class="top-grids">
  <div class="top-grid">
    <img src="css/flight_css/images/6.jpg" alt="">
    <div class="top-grid-info visiting-grid">
      <h3>Vestibulum auctor</h3>
      <p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</p>
    </div>
  </div>
  <div class="top-grid">
    <img src="css/flight_css/images/3.jpg" alt="">
    <div class="top-grid-info visiting-grid">
      <h3>Vestibulum auctor</h3>
      <p>The world-famous British Museum exhibits the works of man from prehistoric to modern times, from around the world. Highlights include the Rosetta Stone, the Parthenon sculptures and the mummies in the Ancient Egypt collection.</p>
    </div>
  </div>
  <div class="top-grid">
    <img src="css/flight_css/images/2.jpg" alt="">
    <div class="top-grid-info visiting-grid">
      <h3>Vestibulum auctor</h3>
      <p>The crowning glory of Trafalgar Square, London's National Gallery is a vast space filled with Western European paintings from the 13th to the 19th centuries. Find works by masters such as Van Gogh, da Vinci, Botticelli, Constable, Renoir, Titian and Stubbs.</p>
    </div>
  </div>
  <div class="top-grid">
    <img src="css/flight_css/images/4.jpg" alt="">
    <div class="top-grid-info visiting-grid">
      <h3>Vestibulum auctor</h3>
      <p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</p>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
